bin/
obj/
.vs/
*.user
*.suo
*.db
*.txt
*.nupkg
*.user
appsettings.Development.json
node_modules/
*.assets.cache
*.Tests.AssemblyInfo.cs
*.cache
*.editorconfig
OrderService.Tests/obj/Debug/net8.0/OrderService.Tests.AssemblyInfoInputs.cache
